.hero{
  padding-top: 250px;
  min-height: 800px;
  background-color: var(--dark-color);

  &__container{
    @include flex;
  }

  &__content{
    max-width: 516px;
  }

  &__tittle{
    margin: 0;
    font-weight: 600;
    font-size: 70px;
    line-height: 160%;
    color: var(--light-color);
    text-transform: uppercase;
    margin-bottom: 50px;

    &-text{
      display: block;
      font-weight: 400;
      font-size: 20px;
      line-height: 160%;
      max-width: 90%;
      text-transform: initial;
    }
  }
}
