.trainers{
  padding: 120px 0px 138px;

  &__wrapper {
    padding-left: max(15px, calc((100% - var(--content-width)) / 2));
  }

  &__section-tittle {
    font-weight: 600;
    font-size: 50px;
    line-height: 160%;
    color: var(--text-color);
  }
}
