<header class="header">
  <div class="container-fluid header__container">
    <a href="##" class="logo">
      <img loading="lazy" src="./img/logo.svg" class="image" width="228" height="48" alt="Логотип RoboScool">
    </a>
    <nav class="nav" title="Главная меню">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#about" class="nav__link" data-scroll>О школе</a></li>
        <li class="nav__item">
          <a href="#trainers" class="nav__link" data-scroll>Тренеры</a>
        <li class="nav__item">
          <a href="#tariffs" class="nav__link" data-scroll>Стоимость</a>
        </li>
      </ul>
    </nav>
    <a href="tel: +380666228355" class="phone">+38(066)62-28-355</a>
  </div>
</header>
