<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__tittle">Robo Scool
        <span class="hero__tittle-text">
          Курсы повышения квалификации по робототехнике для педагогов начальной школы
        </span>
      </h1>
      <a href="#tariffs" class="hero__link btn" data-scroll>Записаться на курс</a>
    </div>
    <div class="hero__image">
      <picture>
        <source srcset="img/hero.avif" type="image/avif">
        <source srcset="img/hero.webp" type="image/webp">
        <img loading="lazy" src="img/hero.png" class="image" width="783" height="917" alt="девушка">
      </picture>
    </div>
  </div>
</section>
