<section class="trainers" id="trainers">
  <div class="container">
    <h2 class="section-tittle trainer__tittle">
      Что вы получите после курса.
    </h2>
  </div>
  <div class="trainers__wrapper">
    <div class="swiper trainers__content">
      <div class="swiper-wrapper">
         <div class="swiper-slide">
            <div class="trainers__item">
              <picture>
                <source srcset="./img/svg/trainers-1.jpg" type="image/avif">
                <source srcset="./img/svg/trainers-1.webp" type="image/webp">
                <img loading="lazy" src="./img/svg/trainers-1.jpg" class="trainers__image" width="360" height="500" alt="Ирина Лайм">
              </picture>
              <div class="trainers__name">Ирина Лайм</div>
              <div class="trainers__post">Преподаватель по робототехнике</div>
              <button class="btn-reset trainers__btn" data-graph-path="trainer-1">Подробнее</button>
            </div>
         </div>
         <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="./img/svg/trainers-2.jpg" type="image/avif">
              <source srcset="./img/svg/trainers-2.webp" type="image/webp">
              <img loading="lazy" src="./img/svg/trainers-2.jpg" class="trainers__image" width="360" height="500" alt="Марина Орлова">
            </picture>
            <div class="trainers__name">Марина Орлова</div>
            <div class="trainers__post">Преподаватель по робототехнике</div>
            <button class="btn-reset trainers__btn" data-graph-path="trainer-1">Подробнее</button>
          </div>
         </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="./img/svg/trainers-3.jpg" type="image/avif">
              <source srcset="./img/svg/trainers-3.webp" type="image/webp">
              <img loading="lazy" src="./img/svg/trainers-3.jpg" class="trainers__image" width="360" height="500" alt="Максим Петров">
            </picture>
            <div class="trainers__name">Максим Петров</div>
            <div class="trainers__post">Преподаватель по робототехнике</div>
            <button class="btn-reset trainers__btn" data-graph-path="trainer-1">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="./img/svg/trainers-4.jpg" type="image/avif">
              <source srcset="./img/svg/trainers-4.webp" type="image/webp">
              <img loading="lazy" src="./img/svg/trainers-4.jpg" class="trainers__image" width="360" height="500" alt="Константин Назаров">
            </picture>
            <div class="trainers__name">Константин Назаров</div>
            <div class="trainers__post">Преподаватель по робототехнике</div>
            <button class="btn-reset trainers__btn" data-graph-path="trainer-1">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="./img/svg/trainers-5.jpg" type="image/avif">
              <source srcset="./img/svg/trainers-5.webp" type="image/webp">
              <img loading="lazy" src="./img/svg/trainers-5.jpg" class="trainers__image" width="360" height="500" alt="Лиза Весенняя">
            </picture>
            <div class="trainers__name">Лиза Весенняя</div>
            <div class="trainers__post">Преподаватель по робототехнике</div>
            <button class="btn-reset trainers__btn" data-graph-path="trainer-1">Подробнее</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
